<form action="/add_bookmark" method="post">
  URL:
  <input type="text" name="url">
  Title:
  <input type="text" name="title">
  <input type="submit" value="Add bookmark">
</form>

<%= @just_the_titles.join('<br>') %>

<a href="http://www.twitter.com"> Twitter </a>
