<form action="/add_bookmark" method="post">
  URL:
  <input type="text" name="url">
  Title:
  <input type="text" name="title">
  <input type="submit" value="Add bookmark">
</form>


<form method="post" action="/delete_bookmarks">
  <% @bookmarks.each_with_index do |bookmark, idx| %>
  <a href="<%= bookmark.url %>">
    <br>
      <%= bookmark.title %>
    </a>
    <input type="submit" value="Delete" name="<%= bookmark.id %>">
  <% end %>
</form>

