<form action="/add_bookmark" method="post">
  URL:
  <input type="text" name="url">
  Title:
  <input type="text" name="title">
  <input type="submit" value="Add bookmark">
</form>

<%= @bookmarks.join('<br>') %>
