<form method="post" action="/bookmarks/<%= @bm_id %>">
  <input type="hidden" name="_method" value="PATCH"/>
  URL
  <input type="text" name="url" />
  title
  <input type="text" name="title" />


  <input type="submit" value="Submit"/>
</form>